<div class="inventaire">
  @for (objet of objets(); track objet.objetId) {
    <div class="objet-ligne">
      <div class="objet-nom">
        @let categorie = categorieObjet(objet.objetId);

        @if (categorie === 'ARME') {
          <div class="logo">
            <img
              src="assets/icon/epee.png"
              [attr.alt]="'CHAPITRE_OBJETS.ALT_ARMES' | translate"
            />
          </div>
        } @else if (categorie === 'OBJET' || categorie === 'OBJETS_SPECIAUX') {
          <div class="logo">
            <img
              src="assets/icon/objets.png"
              [attr.alt]="'CHAPITRE_OBJETS.ALT_OBJETS' | translate"
            />
          </div>
        } @else if (categorie === 'REPAS') {
          <div class="logo">
            <img
              src="assets/icon/repas.png"
              [attr.alt]="'CHAPITRE_OBJETS.ALT_REPAS' | translate"
            />
          </div>
        } @else if (categorie === 'BOURSE') {
          <div class="logo">
            <img
              src="assets/icon/or.png"
              [attr.alt]="'CHAPITRE_OBJETS.ALT_BOURSE' | translate"
            />
          </div>
        }

        {{ objet.nom }}
      </div>

      <div class="objet-quantite">
        @if (restant(objet.objetId) > 0) {
          x{{ restant(objet.objetId) }}
        }
      </div>

      @if (restant(objet.objetId) <= 0) {
        <button
          type="button"
          class="objet-prendre"
          disabled
        >
          {{
            (objet.optionnel
              ? 'CHAPITRE_OBJETS.BADGE_VIDE'
              : 'CHAPITRE_OBJETS.BADGE_AUTOMATIQUE'
            ) | translate
          }}
        </button>
      } @else if (objet.optionnel && estPlein(categorieObjet(objet.objetId))) {
        <button
          type="button"
          class="objet-prendre"
          (click)="prendreObjet(objet)"
        >
          {{ 'CHAPITRE_OBJETS.BADGE_PRENDRE' | translate }}
        </button>
      } @else if (!objet.optionnel) {
        <!-- Obligatoire avec un manque (categorie pleine a l'arrivee) : meme
             bouton PLEIN que pour un optionnel plein, cliquable pour completer. -->
        <button
          type="button"
          class="objet-prendre"
          (click)="prendreObjet(objet)"
        >
          {{ 'CHAPITRE_OBJETS.BADGE_PRENDRE' | translate }}
        </button>
      } @else {
        <button
          type="button"
          class="objet-prendre"
          [class.objet-prendre-en-cours]="ramassageEnCours() === objet.objetId"
          [attr.aria-busy]="ramassageEnCours() === objet.objetId"
          (pointerdown)="demarrerAppui(objet, $event)"
          (click)="gererClicObjet(objet)"
          (contextmenu)="$event.preventDefault()"
        >
          {{ 'CHAPITRE_OBJETS.BADGE_PRENDRE' | translate }}
        </button>
      }
    </div>
  }

  <div class="sac-titre">
    {{ 'CHAPITRE_OBJETS.TITRE_INVENTAIRE' | translate }}
  </div>

  <div
    class="sac"
    (click)="ouvrirSac()"
  >
    <div class="typeObj">
      <div class="logo">
        <img
          src="assets/icon/epee.png"
          [attr.alt]="'CHAPITRE_OBJETS.ALT_ARMES' | translate"
        />
      </div>

      <div class="cont">
        {{ armesCount() }}/{{ maxArmes }}
      </div>
    </div>

    <div class="typeObj">
      <div class="logo">
        <img
          src="assets/icon/potion.png"
          [attr.alt]="'CHAPITRE_OBJETS.ALT_OBJETS' | translate"
        />
      </div>

      <div class="nbr">
        {{ objetsCount() }}
      </div>

      <div class="logo">
        <img
          src="assets/icon/repas.png"
          [attr.alt]="'CHAPITRE_OBJETS.ALT_REPAS' | translate"
        />
      </div>

      <div class="nbr2">
        {{ repasCount() }}
      </div>

      <div class="logo">
        <img
          src="assets/icon/sac.png"
          [attr.alt]="'CHAPITRE_OBJETS.ALT_SAC' | translate"
        />
      </div>

      <div class="cont">
        {{ objetsEtRepasCount() }}/{{ maxObjetsEtRepas }}
      </div>
    </div>

    <div class="typeObj">
      <div class="logo">
        <img
          src="assets/icon/or.png"
          [attr.alt]="'CHAPITRE_OBJETS.ALT_BOURSE' | translate"
        />
      </div>

      <div class="cont">
        {{ bourseCount() }}/{{ maxBourse }}
      </div>
    </div>
  </div>
</div>

@if (popupCategorie(); as categorie) {
  <div
    class="voile-plein"
    (click)="fermerPopup()"
  >
    <div
      class="popup-plein"
      (click)="$event.stopPropagation()"
    >
      <div class="popup-plein-titre">
        {{
          'CHAPITRE_OBJETS.POPUP_TITRE'
            | translate: { categorie: libelleCategorie(categorie) }
        }}
      </div>

      <p class="popup-plein-texte">
        {{ 'CHAPITRE_OBJETS.POPUP_TEXTE' | translate }}
      </p>

      @for (item of itemsDeCategorie(categorie); track item.objetId) {
        <div
          class="popup-plein-ligne"
          [class.maitrisee]="item.maitrisee"
        >
          <span class="popup-plein-nom">
            {{ item.nom }}
          </span>

          @if (item.maitrisee) {
            <span class="popup-plein-tag">
              {{ 'CHAPITRE_OBJETS.TAG_MAITRISEE' | translate }}

              <span class="popup-plein-bonus">
                {{
                  'CHAPITRE_OBJETS.BONUS_HABILITE'
                    | translate: { bonus: bonusArmeMaitrisee }
                }}
              </span>
            </span>
          } @else if (item.quantite > 1) {
            <span class="popup-plein-quantite">
              ×{{ item.quantite }}
            </span>
          }

          <button
            type="button"
            class="popup-plein-retirer"
            [disabled]="retraitPopupEnCours() === item.objetId"
            (click)="retirerPourLiberer(item.objetId)"
          >
            {{ 'CHAPITRE_OBJETS.BOUTON_RETIRER' | translate }}
          </button>
        </div>
      }

      <button
        type="button"
        class="popup-plein-annuler"
        (click)="fermerPopup()"
      >
        {{ 'CHAPITRE_OBJETS.POPUP_ANNULER' | translate }}
      </button>
    </div>
  </div>
}