@if (ouvert()) {
  <div class="voile-sac" (click)="fermer()">
    <div class="feuille-sac" (click)="$event.stopPropagation()">
      <div class="poignee"></div>

      @if (chargement()) {
        <div class="sac-chargement">Chargement…</div>
      } @else {
        <div class="sac-entete">
          <div class="sac-entete-titre">SAC À DOS</div>
        </div>

        <div class="sac-contenu">
          <div class="sac-section-titre">
            ARMES
            <div class="sac-resume">
              {{ armesCount() }}/{{ maxArmes }}
            </div>
          </div>
          @for (a of armesDetail(); track a.objetId) {
            <ion-item-sliding>
              <ion-item lines="none" class="sac-item-hote">
                <div class="sac-ligne" [class.maitrisee]="a.maitrisee">
                  <span class="sac-nom">{{ a.nom }}</span>
                  @if (a.maitrisee) {
                    <span class="sac-tag">MAÎTRISÉE <span class="sac-bonus">+{{ bonusArmeMaitrisee }} HAB</span></span>
                  } @else {
                    <span class="sac-tag">ÉQUIPÉE</span>
                  }
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" [disabled]="retraitEnCours() === a.objetId" (click)="retirer(a.objetId)">
                  Retirer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          }

          <div class="sac-section-titre">
            OBJETS &amp; REPAS
            <div class="sac-resume">
              {{ objetsEtRepasCount() }}/{{ maxObjetsEtRepas }}
            </div>
          </div>
          @for (o of objetsEtRepasDetail(); track o.objetId) {
            <ion-item-sliding>
              <ion-item lines="none" class="sac-item-hote">
                <div class="sac-ligne">
                  <span class="sac-nom">{{ o.nom }}</span>
                  <span class="sac-tag">×{{ o.quantite }}</span>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" [disabled]="retraitEnCours() === o.objetId" (click)="retirer(o.objetId)">
                  Retirer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          }

          <div class="sac-section-titre">OBJETS SPÉCIAUX (HORS LIMITE)</div>
          @for (s of objetsSpeciauxDetail(); track s.objetId) {
            <ion-item-sliding>
              <ion-item lines="none" class="sac-item-hote">
                <div class="sac-ligne">
                  <span class="sac-nom">{{ s.nom }}</span>
                  <span class="sac-tag">×{{ s.quantite }}</span>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" [disabled]="retraitEnCours() === s.objetId" (click)="retirer(s.objetId)">
                  Retirer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          }
        </div>

        <div class="sac-pied">
          <span class="sac-bourse-cle">BOURSE</span>
          <span class="sac-bourse-valeur">{{ bourseCount() }} COURONNES D'OR</span>
        </div>
      }
    </div>
  </div>
}