@if (ouvert()) {
  <div class="voile-sac" (click)="fermer()">
    <div class="feuille-sac" #feuilleSac (click)="$event.stopPropagation()">
      <div class="poignee"></div>

      @if (chargement()) {
        <div class="sac-chargement">Chargement…</div>
      } @else {
        <div class="sac-entete">
          <div class="sac-entete-titre">SAC À DOS</div>
        </div>

        <div class="sac-contenu">
          <div class="sac-section-titre">
            ARMES
            <div class="sac-resume">
              {{ armesCount() }}/{{ maxArmes }}
            </div>
          </div>
          @for (a of armesDetail(); track a.objetId) {
            <ion-item-sliding #slideA>
              <ion-item lines="none" class="sac-item-hote">
                <div class="sac-ligne" [class.maitrisee]="a.maitrisee">
                  <span class="sac-nom">{{ a.nom }}</span>
                  @if (a.maitrisee) {
                    <span class="sac-tag">MAÎTRISÉE <span class="sac-bonus">+{{ bonusArmeMaitrisee }} HAB</span></span>
                  } @else {
                    <span class="sac-tag">ÉQUIPÉE</span>
                  }
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" [disabled]="retraitEnCours() === a.objetId" (click)="retirer(a.objetId, slideA)">
                  Retirer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          }
          @if (aucuneArme()) {
            <div class="sac-ligne sac-ligne-vide">
              <span class="sac-nom">Vide</span>
              <span class="sac-tag">Main nue <span class="sac-bonus sac-malus">{{ malusSansArme }} HAB</span></span>
            </div>
          }

          <div class="sac-section-titre">
            OBJETS &amp; REPAS
            <div class="sac-resume">
              {{ objetsEtRepasCount() }}/{{ maxObjetsEtRepas }}
            </div>
          </div>
          @for (o of objetsEtRepasDetail(); track o.objetId) {
            <ion-item-sliding #slideO>
              <ion-item lines="none" class="sac-item-hote">
                <div
                  class="sac-ligne"
                  [class.consommable]="o.consommable"
                  (click)="o.consommable && demanderConsommation(o, slideO)"
                >
                  <span class="sac-nom">{{ o.nom }}</span>
                  <span class="sac-tag">
                    ×{{ o.quantite }}
                    @if (o.effetLabel) {
                      <span class="sac-bonus">{{ o.effetLabel }}</span>
                    }
                  </span>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" [disabled]="retraitEnCours() === o.objetId" (click)="retirer(o.objetId, slideO)">
                  Retirer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          }

          <div class="sac-section-titre">OBJETS SPÉCIAUX (HORS LIMITE)</div>
          @for (s of objetsSpeciauxDetail(); track s.objetId) {
            <ion-item-sliding #slideS>
              <ion-item lines="none" class="sac-item-hote">
                <div class="sac-ligne">
                  <span class="sac-nom">{{ s.nom }}</span>
                  <span class="sac-tag">×{{ s.quantite }}</span>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" [disabled]="retraitEnCours() === s.objetId" (click)="retirer(s.objetId, slideS)">
                  Retirer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          }
        </div>

        <div class="sac-pied">
          <span class="sac-bourse-cle">BOURSE</span>
          <span class="sac-bourse-valeur">{{ bourseCount() }} COURONNES D'OR</span>
        </div>
      }
    </div>
  </div>
}

@if (objetAConfirmer(); as objet) {
  <div class="voile-consommer" (click)="annulerConsommation()">
    <div class="popup-consommer" (click)="$event.stopPropagation()">
      <div class="popup-consommer-titre">{{ objet.nom }}</div>

      @if (objet.description) {
        <p class="popup-consommer-description">{{ objet.description }}</p>
      }

      @if (objet.effetLabel) {
        <div class="popup-consommer-effet">{{ objet.effetLabel }}</div>
      }

      <div class="popup-consommer-actions">
        <button type="button" class="popup-consommer-annuler" (click)="annulerConsommation()">
          ANNULER
        </button>
        <button
          type="button"
          class="popup-consommer-confirmer"
          [disabled]="consommationEnCours() === objet.objetId"
          (click)="confirmerConsommation()"
        >
          CONSOMMER
        </button>
      </div>
    </div>
  </div>
}