<ion-content [fullscreen]="true" class="accueil">
  <div class="ecran">
    <div class="barre-haut">
      <button type="button" class="rond" aria-label="Mon profil" (click)="profil()">
        <ion-icon name="person-circle-outline" aria-hidden="true"></ion-icon>
      </button>
    </div>

    <header class="titre">
      <div class="sur-titre">{{ 'ACCUEIL.SUR_TITRE' | translate }}</div>
      <h1>{{ 'ACCUEIL.TITRE_LIGNE1' | translate }}<br />{{ 'ACCUEIL.TITRE_LIGNE2' | translate }}</h1>
      <div class="sous-titre">{{ 'ACCUEIL.SOUS_TITRE' | translate }}</div>
    </header>

    <div class="carrousel" [style.mask-image]="masque()" [style.-webkit-mask-image]="masque()" (scroll)="onScroll($event)">
      @if (chargement()) {
        <div class="etat">{{ 'ACCUEIL.CHARGEMENT' | translate }}</div>
      } @else if (erreur()) {
        <div class="etat erreur">{{ erreur() | translate }}</div>
      } @else if (!cartes().length) {
        <div class="etat">{{ 'ACCUEIL.AUCUNE_AVENTURE' | translate }}</div>
      } @else {
        @for (pj of cartes(); track pj.id) {
          <article class="carte">
            <div class="entete">
              <div class="identite">
                <div class="avatar">{{ pj.initiale }}</div>
                <div class="nom">{{ pj.nom }}</div>
              </div>
              <div class="chapitre">{{ 'ACCUEIL.CHAPITRE_PREFIXE' | translate }} {{ pj.chapitreActuelId }}</div>
            </div>

            <div class="stats">
              <div class="stat">
                <span class="cle">{{ 'ACCUEIL.HABILETE' | translate }}</span>
                <span class="valeur">{{ pj.habileteTotale }}</span>
              </div>
              <div class="stat droite">
                <span class="cle">{{ 'ACCUEIL.ENDURANCE' | translate }}</span>
                <span class="valeur">{{ pj.enduranceActuelle }}</span>
              </div>
            </div>

            <button type="button" class="jouer" [class.actif]="pj.actif" (click)="jouer(pj)">
              {{ pj.actif ? ('ACCUEIL.REPRENDRE' | translate) : ('ACCUEIL.CHOISIR' | translate) }}
            </button>
          </article>
        }
      }
    </div>

    <button type="button" class="secondaire" (click)="nouveauPersonnage()">{{ 'ACCUEIL.NOUVEAU_PERSONNAGE' | translate }}</button>
    <button type="button" class="secondaire" (click)="regles()">{{ 'ACCUEIL.REGLES_DU_JEU' | translate }}</button>

    <div class="pied">{{ 'ACCUEIL.PIED' | translate }}</div>
  </div>
</ion-content>